<main id='root'></main>

<script type="text/javascript">
  window.images = {
    avatar: "<%=image_url('profile_avatar_copy.png')%>"
  }
</script>

<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
