:root {
	background: #141414;
}

.genre{
  padding-left: 50px;
  font-size: 25px;
  color: white;
  font-family: 'Heebo', sans-serif;
  font-weight: lighter;
}

.fa-play-circle{
  color: white;
  padding-left: 30px;
  padding-right: 20px;

  &:hover{
    cursor: pointer;
    color: red;
  }
}

.fa-plus{
  color: white;
  padding-left: 10px;
  &:hover{
    cursor: pointer;
    color: red;
  }
}

.play {
  position: absolute;
	opacity: 0;
  z-index: 5;
  top: 60%;
  left: 24%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
	align-items: center;
	justify-content: center;
  width: 8px;
  height: 15px;
  background: rgba(white, .7); 


  .pic_title{
    position: absolute;
    top: 55%;
    padding-top: 20px;
    padding-left: 33px;
    font-family: sans-serif;
    font-size: 17px;
  }
}

.image {
  // flex: 0 0 auto;
  // display: flex;
  // flex-direction: row;
}

img{
  height: 180px;
  width: 345px;
  padding-right: 3px;
  padding-left: 3px;
  z-index: -5;
}

.scrolling-wrapper{
  height: 207px;
  padding-top: 35px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  padding-left: 47px;
  background: #141414;
}
  
.scrolling-wrapper {
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* Make an auto-hiding scroller for the 3 people using a IE */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* Remove the default scrollbar for WebKit implementations */
  &::-webkit-scrollbar {
    display: none;
  }

  &:hover {
    .image {
      transform: translateX(-25%);
    }
  }
  
  .image:hover ~ .image {
    transform: translateX(25%);
  }
  
  .image {
    flex: 1 1 0px;
    transition: transform 400ms ease 100ms;
    
    &:after {
      content: "";
      display: block;
    }
    
    &:hover {
      transform: scale(1.5);
      
      .play {
        opacity: 1;
      }
    }
  }
}
  
.pics{
  display: flex;
  flex-direction: row;
  margin-right: 20px;

  float: left;
}

.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: black;
  // color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border: 0;
  &:focus {
      outline: 0;
  }
  /* Now style it as needed */
  color: white;
  z-index: 10;
  position: absolute;
  height: 100px;
  width: 50px;
  margin-top: 40px;
  cursor: pointer;
}

.pn-Advancer_Left {
    left: 0;
}

.pn-Advancer_Right {
    right: 0;
}











