$scale: 1.7;

:root {
	height: 140vh;
	min-height: 400px;
	background: #111111;
}

.scrolling-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 20px;

  .image {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
  }

  img{
    height: 180px;
    width: 345px;
    padding-right: 5px;
    padding-left: 5px;
  }
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper {
  &::-webkit-scrollbar {
    display: none;
  }
}


.scrolling-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 10px; //spaces b/t name and images
  margin-bottom: 30px;
  
  &:hover {
    .image {
      transform: translateX(-25%);
    }
  }
  
  .image:hover ~ .image {
    transform: translateX(25%);
  }
  
  .image {
    cursor: pointer;
    flex: 1 1 0px;
    transition: transform 300ms ease 100ms;
 
    &:after {
      content: "";
      display: block;
    }
    
    &:hover {
      transform: scale(1.5);
      
      .play {
        opacity: 1;
		  }
      
    }
  }
}




.genre{
  padding-left: 20px;
  font-size: 30px;
}

.fa-play-circle{
  color: red;


}

.play {
  position: absolute;
	opacity: 0;
  z-index: 10;
  top: 70%;
  left: 8%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
	align-items: center;
	justify-content: center;
  width: 8px;
  height: 15px;
  background: rgba(white, .7); 
  // border-radius: 50%;
  // padding: 18px 20px 18px 28px;
	// transition: all .6s ease-in-out;
	// box-shadow: 0px 0px 10px rgba(black, .3);


}

.pics{
 display: flex;
  flex-direction: row;
  margin-right: 20px;
}







