.nav_bar_container{
  padding: 15px;
  overflow: hidden;
  background-color: rgba(black, .8); 
}

.nav_logo{
  position: absolute;
  top: 15px;
  left: 45px;
  background-image: url('worldFlix_edit.png');
  background-repeat: no-repeat;
  height: 50px;
  width: 170px;
}

.nav_bar_container a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.dropdown {
  float: right;
  overflow: hidden;
  padding-right: 50px;
  color: white;
  cursor: pointer;

}

.dropbtn{
  background-image: url('profile_avatar_copy.png');
  background-repeat: no-repeat;
  height: 40px;
  width: 42px;
  border-color: #167F81;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  right: 62px;
  background-color: rgba(black, .8);
  min-width: 140px;
  height: 150px;
  z-index: 1;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.welcome{
  display: flex;
  align-items: flex-start;
  font-family: sans-serif;
  
  font-size: 14px;
  flex-direction: column;
  padding-left: 10px;
}

.sign_out{
  display: flex;
  justify-content: flex-start;
  background-color: blue;
}

.sign_out_button{
  font-size: 14px;
  border-color: rgba(black, .2);
  background-color: rgba(black, .2);
}

.sign_out_button:hover {
  text-decoration: underline;
  cursor: pointer;
}
