.background_img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: image-url('Netflix-Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(5, 5, 5, 0.55); 
  background-blend-mode: multiply;
  z-index: -1;
}

a{
  color: white;
}

.signin_logo{
  position: absolute;
  top: 30px;
  left: 30px;
  background-image: image-url('worldFlix.png');
  background-repeat: no-repeat;
  height: 80px;
  width: 240px;
}


.sign_in_tag{
 
  color: white;
  font-family: sans-serif;
  font-size: 35px;
}


.login_form_container,{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.login_form_box {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.7);
  width: 300px;
  padding: 60px;
  height: 450px;
  border-radius: 5px;
}

.login_form{
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: stretch;
}

.login_input{
  background-color: #333333;
  padding: 11px 25px;
  border-radius: 4px;
  border-color: rgba(grey, .3);
  font-size: 19px;
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.login_input:focus{
  
  color: white;
  opacity: 1; 
  font-weight: lighter;
  font-size: 20px;
  bottom: 10px;
}

.login_input::placeholder{
  position: relative;
  color: #787878;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  font-weight: lighter;
}

.login_input:focus::placeholder{
  color: #787878;
  top: -16px;
  font-size: 12px;
  transition: ease .5s;
}

input[type=text]:focus, input[type=password]:focus {
  box-shadow: inset 0px 0px 0px 1.5px #333333;
  outline: none;
  border: 1px solid #333333;
}

input[type=submit]:focus {
  box-shadow: inset 0px 0px 0px 1.5px #333333;
  outline: #333333;
  border: 1px solid #333333;
}

.errors_box{
  display: flex;
  position: fixed;
  width: 300px;
  padding-bottom: 20px;
}

.errors{
  color: rgb(229,9,20);
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 300;
  
}

.session_submit{
  background-color: rgb(229,9,20);
  color: white;
  padding: 10px;
  border-radius: 4px;
  border-color: rgb(229,9,20);
  padding: 11px 18px;
  font-size: 22px;
  font-weight: 200;

  &:hover{
    cursor: pointer;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 1px 0px 20px white;
  }
}

// .session_submit:hover{
//   cursor: pointer;
// }

.demo_submit{
  background-color: rgba(grey, 0.4);
  color: white;
  padding: 11px 18px;
  border-radius: 4px;
  border-color: rgba(grey, 0.4);
  font-size: 22px;
  font-weight: 200;

  &:hover{
    cursor: pointer;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: #FFFFFF;
    -webkit-fill-color: #FFFFFF;
    text-shadow: 5px 0px 20px white;
  }
}

// .demo_submit:hover{
//   cursor: pointer;
// }

.user_tag_parent{
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 200;
}

.form_type{
  color: grey;
  font-weight: 300;
}

.nav_link{
  font-weight: 300;
}

