.splash_background{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: image-url('netflix-splash2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(7, 7, 7, 0.8); 
  background-blend-mode: multiply; 
  z-index: -1;
}

.logo_box{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  position: absolute;
  top: 25px;
  background-image: image-url('worldFlix.png');
  background-repeat: no-repeat;
  height: 80px;
  width: 240px;
}


.sign_in_button{
  position: absolute;
  top: 40px;
  right: 80px;
  background-color: #e10813;
  border-radius: 4px;
  color: white;
  padding: 8px 22px;
  text-align: center;
  display: inline-block;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: lighter;
  border-color: #e10813;
}

.sign_in_button:hover{
  cursor: pointer;
}

.sign_up_button{
  background-color: #e10813;
  border-color: #e10813;
  border-radius: 3px;
  color: white;
  padding: 20px 180px;
  text-align: center;
  display: inline-block;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

.sign_up_button:hover{
  cursor: pointer;
}

.splash_container{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.splash_header{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.main_text{
  display: flex;
  justify-content: center;
}

.main_splash_text{
  font-family: sans-serif;
  font-size: 85px;
  font-weight: 880;
  padding: 15px;
}

.sub_splash_text{
  font-family: sans-serif;
  font-size: 30px;
  font-weight: lighter;
}



